@import 'reset';
@import 'mixins';
@import 'variables';

@import '../sass/components/_header.scss';
@import '../sass/components/index/info.scss';

body {
    @include body;
    overflow: hidden;
}
.container {
    @include container;
}
.content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 50vw;
    height: 100vh;
}